body{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul{
    list-style-type: none;
}

input, button {
    font-size: 25px;
    box-sizing: border-box;
}

#checkbox{
    height: 35px;
    width: 35px;
    box-sizing: border-box;
    position: relative;
    top: 9px;
}

@media (min-width:801px){
    input, button {
        font-size: 15px;
    }
    #checkbox{
        height: 23px;
        width: 23px;
        top: 6px;
    }
}