body{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul{
    list-style-type: none;
}

input, button {
    font-size: 25px;
}

@media (min-width:801px){
    input, button {
        font-size: 15px;
    }
}